pandas
sqlalchemy
flask_sqlalchemy
pymysql
finance-datareader
BeautifulSoup4
matplotlib
backtrader
pandas_datareader
trading_calendars
plotly
kaleido
sklearn
psycopg2-binary
openpyxl
tensorflow==2.3.0
tensorflow-datasets==4.1.0
Pillow==8.1.0